/* Other rules */

.app {
  font-family: "roboto", sans-serif;
}

/* HOME PAGE */

/* HEADER */

.header {
  position: fixed;
  width: 100vw;
  background-color: #fff;
  top: 0;
  z-index: 1000;
}
header {
  display: flex;
  height: 85px;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 30px;
}

header > div:nth-child(2) {
  width: 45%;
}

.header-input-search {
  width: 100%;
  height: 30px;
  background-color: #f5f6f7;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
}

header .button-log {
  background-color: #fff;
  border: solid 2px #2db0ba;
  border-radius: 5px;
  height: 30px;
  width: 100px;
  color: #2db0ba;
  font-weight: bold;
}

header > button {
  border: none;
  height: 30px;
  border-radius: 5px;
  width: 130px;
  background-color: #2db0ba;
  color: #fff;
}

.link-to-publish {
  text-decoration: none;
  color: #fff;
}

.container-header {
  max-width: 1250px;
  margin: 0 auto;
  padding: 10px 30px;
}

.handle-price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-input-price {
  border-radius: 10px;
  border: solid black 1px;
  width: 30px;
  margin-left: 10px;
}

/* HERO */

.hero {
  margin-top: 105px;
  position: relative;
}

.div-hero-img {
  height: 450px;
  width: 100%;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero div:last-child {
  position: absolute;
  height: 55%;
  background-color: #fff;
  width: 400px;
  top: 92px;
  left: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero p {
  font-size: 34px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.hero button {
  width: 200px;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #2db0ba;
  color: #fff;
  height: 40px;
  border: none;
}

/* MAIN */

.home-main {
  margin-top: 40px;
}

.offers {
  max-width: 1250px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.offer {
  width: calc(20% - (40px) / 5);
  margin-bottom: 40px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  color: grey;
  text-decoration: none;
}

.offers .offer:not(:nth-child(5n)) {
  margin-right: 10px;
}

.div-owner-img {
  height: 27px;
  width: 27px;
  margin-right: 20px;
  margin-left: 20px;
}

.div-owner-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.offer-up-part {
  display: flex;
  align-items: center;
}

.offer-down-part {
  height: 80%;
  width: 100%;
}

.offer-down-part img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.offer div:last-child {
  display: flex;
  justify-content: space-around;
}

/* FOOTER PAGES */

footer {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  margin: 25px;
  border-radius: 5px;
  border: solid 2px;
}

.page-you-are-on {
  background-color: #fff;
  border-color: #2db0ba;
}

/* OFFER PAGE */

.offer-main {
  margin-top: 105px;
  background-color: #eaedef;
  height: calc(100vh - 75px);
}

.offer-container {
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.offer-page-product-img {
  height: 75%;
  width: 35%;
}

.offer-page-product-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.offer-page-informations {
  background-color: #fff;
  height: 75%;
  width: 30%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offer-page-price {
  margin-bottom: 20px;
  font-size: 25px;
}

.offer-page-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.offer-page-details > div {
  width: 50%;
}

.offer-page-details > div > p {
  margin-bottom: 16px;
}

.offer-page-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.offer-page-description {
  color: grey;
  margin-bottom: 20px;
}

.offer-page-owner-info {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.offer-page-owner-img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.offer-page-owner-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.offer-page-button {
  width: 100%;
  height: 30px;
  background-color: #0ab0bb;
  border: none;
  border-radius: 5px;
}

/* .offer-page-button-link {
  text-decoration: none;
  color: #fff;
} */

.carousel {
  background-color: #eaedef;
  max-width: 1000px;
  margin: 0 auto;
}

.div-carousel {
  height: 500px;
}
.img-carousel {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* SIGNUP PAGE */

.signup-main {
  margin-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.signup-form h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.signup-form input:nth-child(2),
.signup-form input:nth-child(3),
.signup-form input:nth-child(4) {
  height: 30px;
  border: none;
  border-bottom: solid 1px rgb(218, 216, 216);
  margin-bottom: 20px;
}

.signup-form div {
  text-align: center;
  margin-bottom: 20px;
  font-size: 17px;
}

.signup-form div input {
  transform: scale(1.5);
  margin-right: 20px;
}

.signup-form p {
  color: grey;
  margin-bottom: 20px;
  font-size: 15px;
}

.signup-form :nth-child(7) {
  color: #fff;
  height: 30px;
  background-color: #2db0ba;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.signup-form :nth-child(8) {
  color: #2db0ba;
  text-decoration: none;
  text-align: center;
}

/* LOGIN PAGE */

.login-main {
  margin-top: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 75px);
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.login-form input:nth-child(2),
.login-form input:nth-child(3) {
  height: 30px;
  border: none;
  border-bottom: solid 1px rgb(218, 216, 216);
  margin-bottom: 20px;
}

.login-form input:nth-child(4) {
  color: #fff;
  height: 30px;
  background-color: #2db0ba;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

.login-form :nth-child(5) {
  color: #2db0ba;
  text-decoration: none;
}

/* MODAL LOGIN */

.modal-hidden {
  display: none;
}

.modal-login {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-login-form-container {
  background-color: #fff;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-login-button {
  margin-top: 20px;
  height: 30px;
  background-color: black;
  color: #fff;
  border: none;
}

/* PUBLISH PAGE */

.main-publish {
  margin-top: 105px;
  background-color: #ebedee;
}

.publish-container {
  max-width: 1250px;
  margin: 0 auto;
}

.publish-container h1 {
  font-size: 24px;
  padding-top: 40px;
  margin-bottom: 20px;
}

.publish-container form > div {
  background-color: #fff;
  margin-bottom: 20px;
  border: solid #cbcdcd 1px;
}

.publish-container form > div > div {
  padding: 20px;
  border-bottom: solid #ebedee 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.publish-container form > div:not(:first-child) > div input {
  width: 50%;
  border: none;
  border-bottom: solid #ebedee 1px;
}

.publish-container form > div:nth-child(1) {
  height: 250px;

  padding: 20px;
  box-sizing: border-box;
}

.publish-container form > div:nth-child(1) > div {
  border: dashed #cbcdcd 1px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.publish-container .title-description {
  height: 225px;
}

.publish-container .title-description div:nth-child(1) {
  height: calc(100% / 3);
}

.publish-container .title-description div:nth-child(2) {
  height: calc(2 * (100% / 3));
}

.publish-container .brand-size-etc {
  height: 368px;
}

.publish-container .brand-size-etc div {
  height: calc(100% / 5);
}

.publish-container .price-checkbox :last-child input {
  width: auto;
}

.publish-input-p {
  display: flex;
  padding: 30px 0;
  flex-direction: row-reverse;
}

.publish-input-p input {
  height: 40px;
  width: 120px;
  border: none;
  background-color: #0ab1ba;
  border-radius: 5px;
  color: white;
}

.drag-n-drop-saved {
  height: 30px;
  padding: 0 20px;

  text-align: center;
  line-height: 30px;
  border: solid green 3px;
  border-radius: 5px;
}

.drag-n-drop-drag {
  height: 30px;
  padding: 0 20px;

  text-align: center;
  line-height: 30px;
  border: solid red 3px;
  border-radius: 5px;
}

/* PAYMENT PAGE */

.payment-main {
  margin-top: 105px;
  background-color: #eaedef;
  height: calc(100vh - 105px);
  display: flex;
  align-items: center;
}

.payment-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.payment-container p {
  color: grey;
  margin-bottom: 30px;
}
.payment-infos {
  display: flex;
  justify-content: space-between;
}

.payment-container .payment-element {
  margin-bottom: 20px;
}

.payment-paragraph {
  margin-bottom: 20px;
}

.card-element {
  border: solid grey 1px;
  padding: 3px;
}

.payment-container input {
  margin-top: 20px;
  width: 100%;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
}

.payment-bold {
  font-weight: bold;
}
